---
---

// Override theme

// Import theme
@import "{{ site.theme }}";
  
// Extras

// 1. Navbar stuff
ul.navbar-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;

  position: fixed;
  top: 0;
  width: 100%;
}

ul.navbar-main li {
  float: left;
}

ul.navbar-main .current {
  margin: 10px 6px;
  padding: 4px 10px;
  color: white;
  background-color: black;
}

img.site-logo {
  padding-top: 4px;
  padding-left: 16px;
  height: 42px;
}

ul.navbar-main li a, ul.navbar-main .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar-main li a:hover, ul.navbar-main .dropdown:hover .dropbtn {
  color: lightslategrey;
  //background-color: #008080;
}

ul.navbar-main li.dropdown {
  display: inline-block;
}

ul.navbar-main .dropdown-content {
  display: none;
  position: fixed;

  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;

  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  border-style: solid;
  border-color: black;
  border-width: 1px;

  right: 0;
  left: auto;
}

ul.navbar-main .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul.navbar-main .dropdown-content a:hover {
    color: lightslategrey;
    //background-color: #008080;
}

ul.navbar-main .dropdown:hover .dropdown-content {
  display: block;
}

// 2. page-bg
body.page-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
