---
layout: default
---
{{ content }}
<div id="pageList" style="display: none;">
    <center class="topbot5px">
        <div id="pageNo" style="margin-bottom: 5px;"></div>
        <a class="arrow left"  href="javascript:setPage(parseInt(document.getElementById('pageSelect1').value, 10)-1);"></a>
        <input class="numhidden" type="number" id="pageSelect1" min="1" max="999" onchange="setPage(parseInt(document.getElementById('pageSelect1').value, 10))">
        <a class="arrow right" href="javascript:setPage(parseInt(document.getElementById('pageSelect1').value, 10)+1);"></a>
    </center>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <div name="pageList-item" class="topbot5px"></div>
    <center class="topbot5px">
        <a class="arrow left"  href="javascript:setPage(parseInt(document.getElementById('pageSelect2').value, 10)-1);"></a>
        <input class="numhidden" type="number" id="pageSelect2" min="1" max="999" onchange="setPage(parseInt(document.getElementById('pageSelect2').value, 10))">
        <a class="arrow right" href="javascript:setPage(parseInt(document.getElementById('pageSelect2').value, 10)+1);"></a>
    </center>
</div>
<p id="data-info" style="display: none;"></p>
<script id="abcd1337">
    // Remove self
    {const elem = document.currentScript || document.getElementById("abcd1337");elem.parentNode.removeChild(elem);}

    // Input sync
    const pageSelect1 = document.getElementById('pageSelect1');
    const pageSelect2 = document.getElementById('pageSelect2');

    function pageSelectSync(event) {
        pageSelect1.value = event.target.value;
        pageSelect2.value = event.target.value;
    }

    pageSelect1.addEventListener('input', pageSelectSync);
    pageSelect2.addEventListener('input', pageSelectSync);

    // Get Query [https://stackoverflow.com/questions/647259/javascript-query-string]
    var queryResult = {}
    function getParams() {
        let queryString = location.search.slice(1), queryRegex = /([^/?&=]+)=([^&]*)/g, queryMatch;
        while (queryMatch = queryRegex.exec(queryString)) {
            queryResult[decodeURIComponent(queryMatch[1])] = decodeURIComponent(queryMatch[2]);
        }
    }

    // Set Data
    let oldPage = -1;
    function setPage(curPage) {
        // Get URL params
        getParams();

        // Show pagelist & hide info
        document.getElementById("pageList").style.display = "block";
        document.getElementById("data-info").style.display = "none";

        const pagelist = document.getElementsByName("pageList-item");
        const maxPage = Math.floor((pageList_data.length - 1)/pagelist.length);

        curPage = Math.min(Math.max((curPage || parseInt(queryResult["page"], 10)) - 1, 0), maxPage) || 0;

        if (curPage+1 == oldPage) return;
        oldPage = curPage+1;

        const pageOffset = curPage * (pagelist.length);
        for(let i = 0; i < pagelist.length; i++) {
            if (i+pageOffset >= pageList_data.length) {
                pagelist[i].innerHTML = '';
            } else {
                const pageData = pageList_data[i+pageOffset];
                pagelist[i].innerHTML = `<a href="${pageData.url}" style="font-size: 1.5rem;">${i+pageOffset+1}. ${pageData.title}</a><div>${pageData.description}</div>`;
            } 
        }

        // Update page number
        document.getElementById("pageNo").innerHTML = `Total of ${maxPage+1} pages with ${pageList_data.length} entries.`;
        // Update the select page if its not the correct page already
        if (document.getElementById('pageSelect1').value != curPage+1) pageSelect1.value = curPage+1;
        if (document.getElementById('pageSelect2').value != curPage+1) pageSelect2.value = curPage+1;
        // Update the url if its not the correct page already
        if ((parseInt(queryResult["page"], 10) || 0) != curPage+1) history.replaceState(null, null, `?page=${curPage+1}`);

    }
    
    // get Pagelist
    let pageList_data = {};
    let pageList_lastUpdated = 0;
    const pageList_req = new XMLHttpRequest();
    pageList_req.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const data = JSON.parse(this.responseText).reverse();
            const lastUpdated = data.shift().updated;
            if (lastUpdated > pageList_lastUpdated) {
                pageList_lastUpdated = lastUpdated;
                pageList_data = data;
                document.getElementById("pageList").style.display = "block";
                setPage();
            }
            
        } else if (pageList_lastUpdated == 0 && this.readyState == 4 && this.status != 200) {
            document.getElementById("data-info").innerHTML = `An error has occured (${this.status})`
            document.getElementById("data-info").style.display = "block";
        }
    };

    pageList_req.open("GET", `{{page.permalink}}/pages.json`, true);

    (function fetchPagelist() {
        pageList_req.send();
        setTimeout(fetchPagelist, 900_000); // Refetches every 15 mins
    })();
</script>