---
layout: default
---
{{ content }}
<div class="pageList">
    <hr class="black_dotted">
    <div name="pageList-item"></div><hr class="black_dotted">
    <div name="pageList-item"></div><hr class="black_dotted">
    <div name="pageList-item"></div><hr class="black_dotted">
    <div name="pageList-item"></div><hr class="black_dotted">
    <div name="pageList-item"></div><hr class="black_dotted">
</div>
<p id="data"></p>
<script>
    // Get Query [https://stackoverflow.com/questions/647259/javascript-query-string]
    var queryResult = {}, queryString = location.search.slice(1), queryRegex = /([^&=]+)=([^&]*)/g, queryMatch;
    while (queryMatch = queryRegex.exec(queryString)) {
        queryResult[decodeURIComponent(queryMatch[1])] = decodeURIComponent(queryMatch[2]);
    }
    // Set Data
    function setPage(results) {
        var pagelist = document.getElementsByName("pageList-item");

        let curPage = parseInt(queryResult["page"], 10);
        if (isNaN(curPage) || curPage < 1) curPage = 1;
        curPage -= 1;

        let pageOffset = curPage * (pagelist.length);

        for(i = 0; i < pagelist.length; i++) {
            if (i+pageOffset >= results.length) break;
            pageData = results[i+pageOffset];
            pagelist[i].innerHTML = `<a href="${pageData.id}" style="font-size: 1.5rem;">${i+pageOffset+1}. ${pageData.title}</a> <br> ${pageData.description}`;
        } 
    }
    // get Pagelist
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var data = JSON.parse(this.responseText).reverse();
        document.getElementById("data").innerHTML = JSON.stringify(data);
        setPage(data);
    } else if (this.readyState == 4 && this.status != 200) {
        document.getElementById("data").innerHTML = `An error has occured (${this.status})`
    }
    };
    xmlhttp.open("GET", `${window.location.href}/pages.json`, true);
    xmlhttp.send();
</script>