<!DOCTYPE html>
<!-- https://shopify.github.io/liquid/tags/control-flow/ -->
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo title=false %}
    <!-- Yune's SEO override -->
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
    <meta name="theme-color" content="{{ page.color | default: site.theme_color }}">
    <!-- End Yune's SEO override -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="preload" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" as="style">
    {% if page.background != "blank" %}
    <link rel="preload" href="{{ page.background | default: site.background }}" as="image">
    {% endif %}
    {% for preload in page.preload %}
    <link rel="preload" href="{{ preload.url }}" as="{{ preload.type }}">
    {% endfor %}
    {% for script in page.script %}
    <script
      {% if script.src %}
      src="{{ script.src }}"
      {% endif %}
      {% if script.integrity %}
      integrity="{{ script.integrity }}"
      {% endif %}
      {% if script.type %}
      type="{{ script.type }}"
      {% endif %}
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    {% if script.content %}
    {{ script.content }}
    {% endif %}
    </script>
    {% endfor %}
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <!-- <link rel="manifest" href="/assets/manifests/site.webmanifest">
    <script defer>if ('serviceWorker' in navigator) navigator.serviceWorker.register('/assets/js/serviceworker/site.js');</script> -->
  </head>
  <body>

    {% if page.background != "blank" %}
    <div style='background-image:url("{{ page.background | default: site.background }}")' class="page-bg"></div>
    {% endif %}
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
    {% unless page.hide_nav %}
    {% if page.invert %}
    <style>
      :root {
        --primary-color: white;
        --secondary-color: black;
        --invert-color: invert(100%);
        --hlsa-lightness: 0%;
      }
    </style>
    {% else %}
    {% endif %}

    <div id="navbar" class="navbar">
      <div class="logo">
        <a href="/" title="Go to Home" class="logo">
          <img src="/assets/images/Junhao.svg" class="logo">
        </a>
      </div>

      <div class="navitems">
        <a name="navbar-links" href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
        <div class="dropdown">
          <a name="navbar-dropbtn" class="dropbtn {% if page.url contains '/projects' %}active{% endif %}" >Projects</a>
          <ul class="dropdown-content">
            <li><a name="navbar-links" href="/projects/junhao-page" class="links {% if page.url contains '/projects/junhao-page' %}active{% endif %}">Junhao.page</a></li>
            <li><a name="navbar-links" href="/projects/milo-dante-wasabi" class="links {% if page.url contains '/projects/milo-dante-wasabi' %}active{% endif %}">Milo Dante Wasabi</a></li>
            <li><a name="navbar-links" href="/projects/tools" class="links {% if page.url contains '/projects/tools' %}active{% endif %}">Tools</a></li>
            <li><a href="/projects" class="links {% if page.url == '/projects/' %}active{% endif %}">See All</a></li>
          </ul>
        </div>
        <a name="navbar-links" href="/blog" class="links {% if page.url contains '/blog' %}active{% endif %}">Blog</a>
      </div>
    </div>

    <script>
      // Set bg when scrolled for navbar
      const navbar = document.getElementById("navbar");
      window.onscroll = function() {
        navbar.style.backgroundColor = `hsla(0, 0%, var(--hlsa-lightness), ${Math.max(document.body.scrollTop/20,document.documentElement.scrollTop/20)}`;
      };
    </script>
    {% endunless %}
    {% case page.header_type %}
      {% when "banner" %}
      <header class="page-header" role="banner">
        <br>
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline" style="display: inline-block">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <br>
      </header>
    {% endcase %}
    <br>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-owner">
          <a href="/">junhao.page</a> is maintained by <a href="/specials">Yunɇ</a>
        </span>
        {% if site.github.is_project_page %}
        <span class="site-footer-owner">
          <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </span>
        {% endif %}
        {% if site.show_autogen %}
        <span class="site-footer-credits">
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a> on 
          {% if page.date %}
          <span class="hint"> 
            {{ "now" | date: "%d.%m.%Y %I:%M%P" }}
            <span class="hint-text">Published on:<br>{{ page.date | date: "%d.%m.%Y %I:%M%P" }}</span>
          </span> 
          {% else %}
          {{ "now" | date: "%d.%m.%Y %I:%M%P" }}
          {% endif %}
          GMT+8
        </span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
