<!DOCTYPE html>
<!-- https://shopify.github.io/liquid/tags/control-flow/ -->
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo title=false %}
    <!-- June's SEO override -->
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="theme-color" content="{{ page.color | default: site.theme_color }}">
    <!-- End June's SEO override -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {% if page.background != "blank" %}
    <div style='background-image:url("{{page.background | default: site.background}}")' class="page-bg"></div>
    {% endif %}
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
    {% unless page.hide_nav %}
    {% if page.invert %}
    <style>
      :root {
        --primary-color: white;
        --secondary-color: black;
        --hlsa-lightness: 0%;
      }
    </style>
    {% else %}
    {% endif %}
    <ul id="navbar-main" class="navbar-main">
      <!--June logo.svg-->
      <a href="/" name="navbar-logo" class="logo">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="24pt" preserveAspectRatio="xMidYMid meet" viewBox="0 0 510.000000 288.000000">
          <g transform="translate(0.000000,288.000000) scale(0.100000,-0.100000)" stroke="none">
            <path d="M1425 2486 c-77 -12 -113 -21 -200 -53 -36 -14 -60 -25 -137 -66 -77
            -40 -187 -134 -241 -205 -58 -78 -71 -105 -92 -189 -18 -70 -18 -75 -1 -130
            21 -66 35 -86 88 -119 26 -16 52 -24 84 -24 44 0 46 1 38 23 -16 47 -16 217 1
            275 42 145 133 260 259 327 24 13 47 21 50 18 11 -12 6 -74 -9 -110 -8 -19
            -15 -48 -15 -63 0 -15 -7 -47 -15 -70 -8 -23 -15 -54 -15 -69 0 -14 -6 -46
            -14 -71 -15 -45 -30 -117 -45 -200 -4 -25 -12 -61 -18 -80 -6 -19 -19 -71 -28
            -115 -37 -178 -47 -222 -56 -260 -6 -22 -14 -60 -18 -85 -4 -25 -12 -61 -18
            -80 -11 -34 -25 -96 -43 -195 -5 -27 -13 -66 -19 -85 -5 -19 -17 -71 -26 -115
            -30 -140 -74 -254 -112 -287 -10 -9 -41 -24 -69 -34 -44 -15 -58 -16 -92 -6
            -106 32 -162 145 -116 235 52 101 141 133 236 87 23 -11 43 -20 45 -20 2 0 8
            12 14 28 8 19 7 41 -2 79 -10 44 -18 57 -48 75 -31 19 -50 22 -146 22 -102 1
            -113 -1 -151 -26 -121 -78 -173 -237 -124 -378 24 -70 97 -154 147 -170 21 -7
            42 -16 48 -21 16 -16 261 -11 302 6 19 8 42 15 51 15 52 0 176 94 235 179 37
            53 97 175 97 196 0 8 6 29 14 47 8 18 21 67 29 108 9 41 21 98 27 125 21 94
            41 190 46 220 6 35 29 141 44 205 6 25 18 77 25 115 8 39 22 104 31 145 22
            105 43 206 55 269 5 29 14 62 19 72 6 10 10 30 10 45 0 15 6 53 14 83 8 31 22
            92 31 136 9 44 21 99 26 122 18 82 17 83 -53 82 -35 -1 -99 -7 -143 -13z">
            </path>
            <path d="M3372 1921 c-29 -9 -77 -34 -107 -54 -31 -20 -60 -37 -66 -37 -7 0
            -8 16 -3 45 l6 46 -158 -3 -159 -3 -6 -25 c-8 -28 -26 -111 -38 -180 -5 -25
            -14 -67 -21 -95 -17 -71 -36 -157 -55 -255 -32 -165 -59 -241 -106 -302 -65
            -81 -143 -101 -198 -49 -35 32 -39 65 -20 148 27 118 38 171 44 208 3 22 10
            54 15 70 5 17 16 66 25 110 30 143 46 219 62 282 8 35 13 70 9 78 -4 12 -30
            15 -150 15 -164 0 -176 -5 -176 -69 0 -21 -7 -58 -15 -81 -8 -23 -15 -54 -15
            -69 0 -14 -6 -46 -14 -71 -14 -43 -26 -98 -45 -200 -56 -295 -94 -386 -183
            -431 -49 -25 -89 -18 -119 19 -24 31 -23 78 6 212 8 41 20 98 25 125 5 28 13
            66 19 85 5 19 16 69 24 110 9 41 21 98 27 125 29 133 41 192 43 215 l2 25
            -149 3 c-159 3 -176 -2 -176 -45 0 -23 -9 -65 -46 -215 -8 -32 -14 -70 -14
            -85 0 -16 -6 -48 -14 -73 -8 -25 -22 -81 -31 -125 -9 -44 -20 -98 -26 -120
            -18 -72 -29 -199 -24 -260 11 -111 63 -177 165 -209 59 -19 62 -19 138 -1 106
            25 170 68 237 158 33 44 44 39 64 -30 17 -63 69 -107 147 -129 61 -16 67 -16
            130 1 66 18 134 49 185 86 43 30 52 25 45 -25 -6 -35 -4 -45 9 -50 32 -12 282
            -7 292 7 6 6 15 35 21 62 6 28 16 73 22 100 6 28 15 73 20 102 4 28 11 56 14
            62 3 5 13 45 21 88 8 43 22 110 30 148 9 39 20 90 24 115 12 63 30 106 69 168
            44 67 66 82 122 82 54 0 62 -5 84 -47 18 -36 20 -83 6 -145 -26 -119 -32 -147
            -39 -188 -5 -25 -13 -65 -19 -90 -49 -207 -52 -244 -24 -323 10 -29 34 -67 58
            -91 34 -34 54 -44 116 -60 71 -18 78 -18 142 -2 99 25 186 83 233 153 12 18
            19 21 35 12 10 -6 23 -20 28 -32 9 -24 61 -74 100 -96 33 -19 157 -51 198 -51
            44 0 157 28 207 51 22 10 59 38 82 61 42 43 109 173 94 183 -5 2 -46 -14 -92
            -37 -149 -75 -246 -61 -291 41 -19 44 -27 148 -13 170 3 6 40 17 83 26 115 25
            184 57 273 129 62 51 122 129 149 196 8 19 15 78 17 130 3 90 2 97 -25 135
            -45 64 -97 84 -222 84 -110 0 -159 -11 -248 -58 -113 -58 -236 -216 -290 -371
            -45 -129 -53 -170 -78 -368 -5 -45 -13 -59 -54 -102 -55 -57 -97 -70 -152 -47
            -52 22 -71 69 -57 138 6 30 14 72 18 94 4 22 12 56 18 75 37 119 64 255 70
            356 4 79 2 98 -17 143 -28 63 -76 103 -152 125 -68 20 -97 19 -166 -3z m1174
            -108 c23 -25 25 -34 21 -93 -6 -89 -14 -115 -57 -185 -47 -77 -135 -149 -208
            -170 -30 -9 -61 -14 -68 -11 -18 7 -17 44 1 76 8 14 14 35 15 47 0 12 6 34 14
            50 7 15 21 46 31 68 9 22 21 47 26 55 5 8 15 29 23 46 29 64 117 144 159 144
            10 0 29 -12 43 -27z">
            </path>
          </g>
        </svg>
      </a>
      <div style="float:right">
        <li><a name="navbar-links" href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
        <li class="dropdown">
          <a name="navbar-dropbtn" class="dropbtn {% if page.url contains '/projects' %}active{% endif %}" >Projects</a>
          <div class="dropdown-content">
            <a name="navbar-links" href="/projects/junhao-page" {% if page.url contains '/projects/junhao-page' %}class="active"{% endif %}>Junhao.page</a>
            <a name="navbar-links" href="/projects/iruma" {% if page.url contains '/projects/iruma' %}class="active"{% endif %}>Iruma</a>
            <a name="navbar-links" href="/projects/milo-dante-wasabi" {% if page.url contains '/projects/milo-dante-wasabi' %}class="active"{% endif %}>Milo Dante Wasabi</a>
            <a href="/projects" {% if page.url contains '/projects' %}class="active"{% endif %}>See All</a>
          </div>
        </li>
        <li><a name="navbar-links" href="/blog" {% if page.url contains '/blog' %}class="active"{% endif %}>Blog</a></li>
      </div> 
    </ul>
    <script>
    //Set bg when scrolled for navbar
    const navbar = document.getElementById("navbar-main");
    window.onscroll = function() {
      navbar.style.backgroundColor = `hsla(0, 0%, var(--hlsa-lightness), ${Math.max(document.body.scrollTop/20,document.documentElement.scrollTop/20)}`;
    };
    </script>
    {% endunless %}
    {% case page.header_type %}
      {% when "banner" %}
      <header class="page-header" role="banner">
        <br>
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline" style="display: inline-block">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <br>
      </header>
    {% endcase %}
    <br>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-owner">
          <a href="/">junhao.page</a> is maintained by <a href="/specials">Junɇ</a>
        </span>
        {% if site.github.is_project_page %}
        <span class="site-footer-owner">
          <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </span>
        {% endif %}
        {% if site.show_autogen %}
        <span class="site-footer-credits">
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a> on 
          {% if page.date %}
          <span class="hint"> 
            {{ "now" | date: "%d/%m/%Y %I:%M%P" }}
            <span class="hint-text">Published on:<br>{{ page.date | date: "%d/%m/%Y %I:%M%P" }}</span>
          </span> 
          {% else %}
          {{ "now" | date: "%d/%m/%Y %I:%M%P" }}
          {% endif %}
          (GMT+8)
        </span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
